:root {
  --color-1: #197daa;
  --color-2: #4e9bbd;
  --color-3: #95bace;
  --color-4: #ffffff;
  --color-4-hover: #c4c2c2;
  --color-5: #197ba963;
  --color-6: hsla(199, 74%, 38%, 0.14); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 40%; } }

body {
  font-family: "Exo 2", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  position: relative; }

.hidden {
  display: none !important; }

header {
  background: var(--color-1);
  display: flex;
  justify-content: center; }

.header {
  width: 140rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__contact {
    display: flex; }
    @media only screen and (max-width: 26.57em) {
      .header__contact {
        width: 100%;
        justify-content: center; } }
  .header__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-4);
    margin: 0 1rem; }
    .header__link:hover {
      color: var(--color-3); }
  .header__icon {
    font-size: 1.5rem; }
  .header__p {
    margin-left: 1rem; }
    @media only screen and (max-width: 20em) {
      .header__p {
        font-size: 1rem; } }
  .header__soc {
    display: flex; }
    @media only screen and (max-width: 26.57em) {
      .header__soc {
        display: none; } }

nav {
  background: var(--color-5);
  display: flex;
  justify-content: center; }

.nav {
  width: 140rem;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 48em) {
    .nav {
      justify-content: center; } }
  .nav__logo--img {
    width: 20rem; }
  .nav__ul {
    list-style: none;
    display: flex;
    margin-left: 5rem; }
    @media only screen and (max-width: 48em) {
      .nav__ul {
        display: none; } }
  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 8.5rem;
    transition: all 0.5s; }
    .nav__list:hover {
      background: var(--color-1); }
  .nav__link {
    font-size: 1.5rem;
    margin: 1rem;
    text-transform: uppercase;
    color: var(--color-4);
    text-decoration: none; }
  .nav__active {
    background: var(--color-1); }

.slider1 {
  display: flex;
  justify-content: center; }
  .slider1__wrap {
    width: 140rem;
    height: 45rem;
    position: relative;
    overflow: hidden; }
    @media only screen and (max-width: 40em) {
      .slider1__wrap {
        height: 30rem; } }
    @media only screen and (max-width: 26.57em) {
      .slider1__wrap {
        height: 25rem; } }
    @media only screen and (max-width: 20em) {
      .slider1__wrap {
        height: 45rem; } }
  .slider1__slide {
    display: flex;
    position: absolute;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s linear;
    background-position: center center;
    background-size: cover; }
    .slider1__slide.active1 {
      opacity: 1;
      transform: translateX(0%); }
    @media only screen and (max-width: 20em) {
      .slider1__slide {
        flex-direction: column; } }
  .slider1__text {
    width: 75rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 40em) {
      .slider1__text {
        width: 50%; } }
    @media only screen and (max-width: 20em) {
      .slider1__text {
        width: 100%; } }
  .slider1__h1 {
    font-size: 5rem;
    letter-spacing: 0.1rem;
    color: var(--color-1);
    margin-left: 10rem; }
    @media only screen and (max-width: 90em) {
      .slider1__h1 {
        line-height: 5rem; } }
    @media only screen and (max-width: 40em) {
      .slider1__h1 {
        font-size: 2.5rem;
        margin-left: 5rem; } }
    @media only screen and (max-width: 26.57em) {
      .slider1__h1 {
        line-height: 3rem; } }
    @media only screen and (max-width: 20em) {
      .slider1__h1 {
        text-align: center;
        margin: 1rem 0; } }
  .slider1__p {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: var(--color-1);
    margin-left: 10rem; }
    @media only screen and (max-width: 40em) {
      .slider1__p {
        font-size: 2rem;
        margin-left: 5rem; } }
    @media only screen and (max-width: 20em) {
      .slider1__p {
        margin-left: 0;
        text-align: center; } }
  .slider1__img {
    height: 45rem; }
    @media only screen and (max-width: 40em) {
      .slider1__img {
        height: 25rem;
        position: absolute;
        right: 0;
        bottom: 0; } }
    @media only screen and (max-width: 26.57em) {
      .slider1__img {
        height: 18rem; } }
    @media only screen and (max-width: 20em) {
      .slider1__img {
        height: 28rem;
        left: 50%;
        transform: translate(-50%);
        bottom: 5rem; } }
  .slider1__radio {
    position: absolute; }
  .slider1__buttonWrap {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0.5rem;
    left: 27rem; }
    @media only screen and (max-width: 90em) {
      .slider1__buttonWrap {
        left: 15rem; } }
    @media only screen and (max-width: 40em) {
      .slider1__buttonWrap {
        left: 5rem; } }
    @media only screen and (max-width: 20em) {
      .slider1__buttonWrap {
        left: 50%;
        transform: translate(-50%);
        z-index: 100; } }
  .slider1__btns {
    width: 17rem;
    display: flex;
    z-index: 100; }
    .slider1__btns--radio {
      cursor: pointer;
      border: 1px solid var(--color-1);
      margin: 0.5rem;
      width: 3rem;
      height: 0.5rem;
      transition: all 0.4s; }
      .slider1__btns--radio:hover {
        background-color: var(--color-3); }
      .slider1__btns--radio.active2 {
        background-color: var(--color-1); }
  .slider1__btn--left {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    translate: all 0.5s;
    outline: none;
    z-index: 100;
    cursor: pointer; }
    .slider1__btn--left:active {
      transform: translateX(-3px); }
  .slider1__btn--right {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    translate: all 0.5s;
    outline: none;
    margin-left: -0.5rem;
    cursor: pointer;
    z-index: 100; }
    .slider1__btn--right:active {
      transform: translateX(3px); }
  .slider1__icon {
    font-size: 3rem;
    color: var(--color-1); }

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-1); }
  .mid__wrap {
    display: flex;
    width: 140rem;
    justify-content: space-evenly; }
  .mid__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    transition: all 0.5s;
    cursor: pointer; }
    .mid__box:hover {
      transform: scale(1.1); }
  .mid__img {
    width: 12rem;
    margin: 1rem; }
    @media only screen and (max-width: 40em) {
      .mid__img {
        width: 6rem; } }
  .mid__p {
    color: var(--color-4);
    text-align: center;
    font-size: 2rem; }

.reasons {
  display: flex;
  justify-content: center;
  background: var(--color-6);
  margin: 2rem 0; }
  .reasons__wrap {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140rem; }
    @media only screen and (max-width: 26.57em) {
      .reasons__wrap {
        flex-direction: column; } }
  .reasons__h1 {
    margin-left: 10rem;
    color: var(--color-1);
    font-size: 4rem;
    width: 50%;
    text-transform: uppercase; }
    @media only screen and (max-width: 40em) {
      .reasons__h1 {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 40em) {
      .reasons__h1 {
        width: 100%;
        margin-left: 0;
        text-align: center; } }
  .reasons__img {
    height: 30rem; }
    @media only screen and (max-width: 40em) {
      .reasons__img {
        height: 20rem; } }
    @media only screen and (max-width: 40em) {
      .reasons__img {
        text-align: center;
        margin-left: 7rem; } }

.textslider__wrap {
  display: flex;
  justify-content: center;
  overflow: hidden; }

.textslider__box {
  position: relative;
  width: 140rem;
  height: 30rem; }
  @media only screen and (max-width: 64em) {
    .textslider__box {
      height: 35rem; } }
  @media only screen and (max-width: 40em) {
    .textslider__box {
      height: 30rem; } }
  @media only screen and (max-width: 20em) {
    .textslider__box {
      height: 35rem; } }

.textslider__slides {
  list-style: none;
  height: 30rem;
  overflow: hidden; }
  @media only screen and (max-width: 64em) {
    .textslider__slides {
      height: 35rem; } }
  @media only screen and (max-width: 40em) {
    .textslider__slides {
      height: 25rem; } }

.textslider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s linear;
  background-position: center center;
  background-size: cover; }
  .textslider__slide.activeText {
    opacity: 1;
    transform: translateX(0%); }

.textslider__h2 {
  text-align: center;
  color: var(--color-1);
  margin: 3rem;
  font-size: 3rem; }
  @media only screen and (max-width: 40em) {
    .textslider__h2 {
      font-size: 2rem; } }
  .textslider__h2::after {
    content: "";
    border: 3px solid var(--color-1);
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translate(-50%);
    width: 10rem; }
    @media only screen and (max-width: 40em) {
      .textslider__h2::after {
        border: 2px solid var(--color-1);
        top: 6rem; } }

.textslider__p {
  width: 60%;
  text-align: center;
  color: var(--color-1);
  font-size: 2rem; }
  .textslider__p::first-line {
    text-indent: 5rem; }
  @media only screen and (max-width: 90em) {
    .textslider__p {
      width: 80%; } }
  @media only screen and (max-width: 40em) {
    .textslider__p {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 20em) {
    .textslider__p {
      width: 95%; } }

.textslider__btn {
  background: transparent;
  border: none;
  outline: none; }
  .textslider__btn--left {
    position: absolute;
    left: 35%;
    bottom: 1rem; }
  .textslider__btn--right {
    position: absolute;
    right: 35%;
    bottom: 1rem; }

.textslider__icon {
  cursor: pointer;
  color: var(--color-1);
  font-size: 5rem;
  transition: all 0.2s; }
  .textslider__icon:active {
    transform: translatey(0.2rem);
    color: var(--color-2); }

.digital {
  display: flex;
  justify-content: center;
  background: var(--color-6);
  margin: 2rem 0; }
  .digital__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140rem; }
    @media only screen and (max-width: 26.57em) {
      .digital__wrap {
        flex-direction: column; } }
  .digital__h1 {
    color: var(--color-1);
    font-size: 4rem;
    width: 50%;
    text-transform: uppercase; }
    @media only screen and (max-width: 40em) {
      .digital__h1 {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 26.57em) {
      .digital__h1 {
        width: 90%;
        line-height: 3.5rem;
        text-align: center; } }
  .digital__img {
    height: 30rem; }
    @media only screen and (max-width: 40em) {
      .digital__img {
        height: 20rem; } }

.marketing {
  display: flex;
  justify-content: center; }
  .marketing__wrap {
    width: 100rem;
    height: 30rem;
    display: flex; }
    @media only screen and (max-width: 40em) {
      .marketing__wrap {
        width: 70rem; } }
    @media only screen and (max-width: 26.57em) {
      .marketing__wrap {
        width: 50rem; } }
    @media only screen and (max-width: 20em) {
      .marketing__wrap {
        width: 45rem; } }
  .marketing__img {
    width: 30rem;
    border-radius: 5px;
    overflow: hidden; }
    @media only screen and (max-width: 40em) {
      .marketing__img {
        width: 35rem; } }
    @media only screen and (max-width: 26.57em) {
      .marketing__img {
        width: 30rem; } }
  .marketing__icon {
    font-size: 5rem;
    color: var(--color-1); }

.swiper-container {
  width: 90%;
  height: 100%;
  position: relative; }
  .swiper-container__gradient1 {
    position: absolute;
    left: -1rem;
    top: 4%;
    width: 30rem;
    height: 28rem;
    background: linear-gradient(90deg, white 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 10; }
    @media only screen and (max-width: 40em) {
      .swiper-container__gradient1 {
        display: none; } }
  .swiper-container__gradient2 {
    position: absolute;
    right: -1rem;
    top: 4%;
    width: 30rem;
    height: 28rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 50%);
    z-index: 10; }
    @media only screen and (max-width: 40em) {
      .swiper-container__gradient2 {
        display: none; } }

.swiper-button-next {
  height: 6rem !important;
  width: 6rem !important;
  top: 47% !important; }
  @media only screen and (max-width: 20em) {
    .swiper-button-next {
      display: none !important; } }
  .swiper-button-next:active {
    transform: translate(3px); }
  .swiper-button-next:after {
    display: none; }

.swiper-button-prev {
  height: 6rem !important;
  width: 6rem !important;
  top: 47% !important; }
  @media only screen and (max-width: 20em) {
    .swiper-button-prev {
      display: none !important; } }
  .swiper-button-prev:active {
    transform: translate(-3px); }
  .swiper-button-prev:after {
    display: none; }

.swiper-pagination {
  margin-bottom: -1.5rem; }

:root {
  --swiper-theme-color: var(--color-1) !important; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.design {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-6);
  margin: 2rem 0; }
  .design__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140rem;
    position: relative; }
    @media only screen and (max-width: 26.57em) {
      .design__wrap {
        flex-direction: column; } }
  .design__box {
    width: 50%; }
    @media only screen and (max-width: 26.57em) {
      .design__box {
        width: 100%; } }
  .design__h1 {
    color: var(--color-1);
    font-size: 4rem;
    text-transform: uppercase;
    margin-left: 10rem; }
    @media only screen and (max-width: 40em) {
      .design__h1 {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 26.57em) {
      .design__h1 {
        margin-left: 0;
        text-align: center; } }
  .design__p {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: var(--color-1);
    margin-left: 10rem; }
    @media only screen and (max-width: 26.57em) {
      .design__p {
        margin-left: 0;
        text-align: center; } }
  .design__img {
    width: 35rem;
    margin-right: 4rem; }
    @media only screen and (max-width: 40em) {
      .design__img {
        width: 25rem; } }
    @media only screen and (max-width: 26.57em) {
      .design__img {
        margin-right: 0; } }
  .design__pngWrap {
    margin-left: 10rem;
    position: absolute;
    left: 0;
    bottom: 1rem; }
    @media only screen and (max-width: 40em) {
      .design__pngWrap {
        display: none; } }
  .design__png {
    width: 5rem; }

.responsive {
  display: flex;
  justify-content: center; }
  .responsive__wrap {
    width: 140rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 26.57em) {
      .responsive__wrap {
        flex-direction: column; } }
  .responsive__img {
    width: 60%; }
    @media only screen and (max-width: 26.57em) {
      .responsive__img {
        width: 100%;
        margin-left: 0; } }
  .responsive__textBox {
    width: 40%; }
    @media only screen and (max-width: 26.57em) {
      .responsive__textBox {
        width: 100%; } }
  .responsive__h1 {
    color: var(--color-1);
    font-size: 4rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 40em) {
      .responsive__h1 {
        font-size: 2.5rem;
        line-height: 3rem; } }
    @media only screen and (max-width: 26.57em) {
      .responsive__h1 {
        width: 100%;
        margin-right: 0;
        text-align: center; } }
  .responsive__p {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: var(--color-1);
    width: 100%; }
    @media only screen and (max-width: 26.57em) {
      .responsive__p {
        margin-bottom: 1rem;
        text-align: center; } }

.contact {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right top, #b9d8e5, #209fd8); }
  .contact__wrap {
    width: 140rem;
    height: 40rem;
    display: flex;
    position: relative;
    justify-content: center; }
    @media only screen and (max-width: 40em) {
      .contact__wrap {
        height: 50rem; } }
    @media only screen and (max-width: 26.57em) {
      .contact__wrap {
        height: 40rem; } }
  .contact__textWrap {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contact__spaceman {
    position: absolute;
    width: 15rem;
    right: 0;
    top: -12.5rem; }
    @media only screen and (max-width: 90em) {
      .contact__spaceman {
        display: none; } }
  .contact__rocket {
    position: absolute;
    width: 25rem;
    bottom: -3.5rem;
    left: 0; }
    @media only screen and (max-width: 40em) {
      .contact__rocket {
        display: none; } }
  .contact__astronaut {
    position: absolute;
    right: 0;
    bottom: -3.5rem;
    width: 20rem; }
    @media only screen and (max-width: 40em) {
      .contact__astronaut {
        display: none; } }
  .contact__h1 {
    text-align: center;
    color: var(--color-4);
    font-size: 5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin-top: 4rem; }
    @media only screen and (max-width: 40em) {
      .contact__h1 {
        font-size: 4rem; } }
    @media only screen and (max-width: 26.57em) {
      .contact__h1 {
        font-size: 3rem; } }
  .contact__btn {
    border: none;
    height: 6rem;
    width: 60rem;
    border-radius: 50px;
    text-transform: uppercase;
    color: var(--color-4);
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    box-shadow: 0 5px 5px rgba(51, 51, 51, 0.15);
    background-image: linear-gradient(to bottom, #288bf1, #78bef2);
    transition: all 0.2s;
    outline: none;
    font-family: inherit;
    cursor: pointer; }
    @media only screen and (max-width: 26.57em) {
      .contact__btn {
        width: 40rem;
        font-size: 3rem; } }
    @media only screen and (max-width: 20em) {
      .contact__btn {
        width: 30rem;
        font-size: 2rem; } }
    .contact__btn:hover {
      background-image: linear-gradient(to top, #288bf1, #78bef2); }
    .contact__btn:active {
      transform: translateY(5px);
      box-shadow: 0 5px 5px rgba(51, 51, 51, 0.5);
      background-image: linear-gradient(to top, #2b82de, #2876b2); }
    .contact__btn--link {
      text-decoration: none; }
  .contact__ico {
    color: var(--color-4);
    animation: pulsiranje 1s infinite;
    font-size: 10rem;
    margin: 3rem 0;
    z-index: 20; }

@keyframes pulsiranje {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2);
    color: var(--color-1); }
  100% {
    transform: scale(1); } }

.footer {
  display: flex;
  justify-content: center;
  background: var(--color-1);
  position: relative;
  align-items: center; }
  .footer__wrap {
    width: 140rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem; }
  .footer__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1; }
    @media only screen and (max-width: 40em) {
      .footer__box {
        flex-direction: column; } }
  .footer__info {
    background: var(--color-2);
    width: 40rem;
    margin: 3rem 0;
    border-radius: 5px; }
    @media only screen and (max-width: 90em) {
      .footer__info {
        width: 35rem; } }
    @media only screen and (max-width: 40em) {
      .footer__info {
        width: 90%; } }
    @media only screen and (max-width: 26.57em) {
      .footer__info {
        margin: 2rem 0; } }
  @media only screen and (max-width: 40em) {
    .footer__a {
      order: 3; } }
  .footer__logo {
    width: 25rem;
    margin: 2rem 0; }
    @media only screen and (max-width: 40em) {
      .footer__logo {
        margin: 0;
        width: 25rem; } }
    @media only screen and (max-width: 26.57em) {
      .footer__logo {
        width: 20rem; } }
  .footer__h3 {
    text-align: center;
    color: var(--color-4);
    font-size: 2rem; }
  .footer__p {
    margin-left: 2rem; }
  .footer__linkWrap {
    display: flex; }
  .footer__list {
    display: flex;
    flex-direction: column; }
  .footer__link {
    text-decoration: none;
    color: var(--color-4);
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    margin-left: 2rem; }
  .footer__ico {
    font-size: 2rem; }
  .footer__rights {
    position: absolute;
    bottom: 2rem;
    color: var(--color-4); }
    @media only screen and (max-width: 20em) {
      .footer__rights {
        font-size: 0.8rem; } }
  .footer__textrights {
    font-weight: 200; }

.portfolio {
  background: linear-gradient(to right top, #b9d8e5, #209fd8);
  display: flex;
  justify-content: center; }
  .portfolio__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140rem;
    height: 25rem;
    position: relative; }
    @media only screen and (max-width: 40em) {
      .portfolio__wrap {
        height: 15rem; } }
  .portfolio__h1 {
    color: var(--color-4);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 0.4rem; }
  .portfolio__img {
    width: 25rem;
    position: absolute;
    top: 0;
    right: 5rem; }
    @media only screen and (max-width: 40em) {
      .portfolio__img {
        display: none; } }

.gallery {
  display: flex;
  justify-content: center; }
  .gallery__wrap {
    width: 140rem;
    display: flex;
    justify-content: center; }
  .gallery__box {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .gallery__h2 {
    text-align: center;
    color: var(--color-1);
    margin: 3rem;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem; }
  .gallery__nav {
    display: flex;
    justify-content: center; }
  .gallery__ul {
    display: flex;
    list-style: none; }
  .gallery__li {
    font-size: 2rem;
    color: var(--color-1);
    margin-left: 5rem;
    cursor: pointer;
    transition: all 0.2s; }
    .gallery__li:hover {
      transform: scale(1.1); }
  .gallery__elements {
    margin-top: 3rem;
    width: 70%;
    text-align: center; }
  .gallery__img {
    width: 26rem;
    height: 25rem;
    margin: 0.6rem;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.397);
    opacity: 1;
    cursor: pointer;
    transition: all 0.5s; }
    @media only screen and (max-width: 40em) {
      .gallery__img {
        width: 20rem;
        height: 20rem; } }
    @media only screen and (max-width: 26.57em) {
      .gallery__img {
        width: 15rem;
        height: 15rem; } }
    .gallery__img:hover {
      opacity: 0.8;
      transform: scale(1.05); }

.active--filter {
  border-bottom: 5px solid var(--color-1); }

.popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }
  .popup__imgbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0 !important;
    background: rgba(0, 0, 0, 0.699);
    backdrop-filter: blur(3px);
    overflow: scroll;
    text-align: center; }
  .popup__img {
    width: 90%;
    margin: 4rem 0; }
    @media only screen and (max-width: 40em) {
      .popup__img {
        width: 100%; } }
  .popup__btn {
    position: fixed;
    background: transparent;
    border: none;
    font-size: 5rem;
    color: var(--color-1);
    outline: none;
    cursor: pointer; }
    .popup__btn:hover {
      color: var(--color-2); }
    .popup__btn--left {
      left: 5%;
      top: 70vh; }
      .popup__btn--left:active {
        transform: translate(-3px); }
    .popup__btn--right {
      right: 5%;
      top: 70vh; }
      .popup__btn--right:active {
        transform: translate(3px); }
    .popup__btn--close {
      right: 5%;
      top: 4rem; }
      .popup__btn--close:active {
        transform: translateY(3px); }

.svg {
  display: flex;
  justify-content: center;
  margin: 4rem 0; }
  .svg__wrap {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140rem; }
    @media only screen and (max-width: 26.57em) {
      .svg__wrap {
        margin: 1rem 0; } }
  @media only screen and (max-width: 48em) {
    .svg__img {
      height: 8rem; } }
  @media only screen and (max-width: 40em) {
    .svg__img {
      height: 5rem; } }
  @media only screen and (max-width: 26.57em) {
    .svg__img {
      height: 3rem; } }

.about {
  background: linear-gradient(to right top, #b9d8e5, #209fd8);
  display: flex;
  justify-content: center; }
  .about__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140rem;
    height: 25rem;
    position: relative; }
    @media only screen and (max-width: 40em) {
      .about__wrap {
        height: 15rem; } }
  .about__h1 {
    color: var(--color-4);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 0.4rem; }
  .about__img {
    width: 39rem;
    position: absolute;
    right: 0; }
    @media only screen and (max-width: 40em) {
      .about__img {
        display: none; } }

.bluebox {
  display: flex;
  justify-content: center;
  margin: 4rem 0; }
  @media only screen and (max-width: 26.57em) {
    .bluebox {
      margin: 0; } }
  .bluebox__wrap {
    width: 140rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0; }
    @media only screen and (max-width: 26.57em) {
      .bluebox__wrap {
        margin: 0;
        margin-top: 4rem; } }
  .bluebox__cilj {
    position: relative;
    background: var(--color-1);
    height: 25rem;
    width: 60rem;
    border-top-left-radius: 100px;
    margin-left: 30rem;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 40em) {
      .bluebox__cilj {
        margin-left: 10rem;
        width: 55rem; } }
    @media only screen and (max-width: 26.57em) {
      .bluebox__cilj {
        margin-left: 0;
        width: 100%; } }
  .bluebox__misija {
    position: relative;
    background: var(--color-1);
    height: 25rem;
    width: 60rem;
    border-top-right-radius: 100px;
    margin-right: 30rem; }
    @media only screen and (max-width: 40em) {
      .bluebox__misija {
        margin-right: 10rem;
        width: 55rem; } }
    @media only screen and (max-width: 26.57em) {
      .bluebox__misija {
        margin-right: 0;
        width: 100%; } }
  .bluebox__textbox {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-4); }
  .bluebox__h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: -3rem; }
    @media only screen and (max-width: 48em) {
      .bluebox__h2--cilj {
        margin-left: 5rem; } }
    @media only screen and (max-width: 20em) {
      .bluebox__h2--cilj {
        margin-left: 15rem; } }
    .bluebox__h2--cilj::after {
      content: "";
      border-bottom: 5px solid var(--color-2);
      position: absolute;
      top: 1.5rem;
      left: 0;
      width: 4.5rem; }
      @media only screen and (max-width: 48em) {
        .bluebox__h2--cilj::after {
          margin-left: 5rem; } }
      @media only screen and (max-width: 20em) {
        .bluebox__h2--cilj::after {
          margin-left: 15rem; } }
    .bluebox__h2--misija {
      text-align: end; }
      @media only screen and (max-width: 48em) {
        .bluebox__h2--misija {
          margin-right: 5rem; } }
      @media only screen and (max-width: 20em) {
        .bluebox__h2--misija {
          margin-right: 15rem; } }
      .bluebox__h2--misija::after {
        content: "";
        border-bottom: 5px solid var(--color-2);
        position: absolute;
        top: 1.5rem;
        right: 0;
        width: 8rem; }
        @media only screen and (max-width: 48em) {
          .bluebox__h2--misija::after {
            right: 5rem; } }
        @media only screen and (max-width: 20em) {
          .bluebox__h2--misija::after {
            margin-right: 10rem; } }
  .bluebox__p {
    font-size: 2rem; }
    .bluebox__p::first-letter {
      text-transform: uppercase;
      font-size: 3rem;
      line-height: 1rem; }
    @media only screen and (max-width: 20em) {
      .bluebox__p {
        font-size: 1.5rem; } }
    .bluebox__p--misija {
      text-align: end; }

.target {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 4rem 0; }
  .target::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--color-2);
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 50%; }
  .target::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid var(--color-2);
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 50%; }
  .target__wrap {
    width: 140rem;
    text-align: center; }
  .target__h1 {
    font-size: 5rem;
    letter-spacing: 0.1rem;
    color: var(--color-1); }
    @media only screen and (max-width: 26.57em) {
      .target__h1 {
        font-size: 3rem; } }
  .target__box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem 0; }
  .target__img {
    height: 30rem; }
    @media only screen and (max-width: 26.57em) {
      .target__img {
        height: 15rem; } }
  .target__box2 {
    display: flex;
    flex-direction: column; }
  .target__textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem; }
  .target__icon {
    width: 8rem; }
    @media only screen and (max-width: 26.57em) {
      .target__icon {
        width: 5rem; } }
  .target__h2 {
    color: var(--color-1);
    font-size: 3rem;
    margin-left: 2rem; }

.contactus {
  background: linear-gradient(to right top, #b9d8e5, #209fd8);
  display: flex;
  justify-content: center; }
  .contactus__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140rem;
    height: 25rem;
    position: relative; }
    @media only screen and (max-width: 40em) {
      .contactus__wrap {
        height: 15rem; } }
  .contactus__h1 {
    color: var(--color-4);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 0.4rem; }
  .contactus__img {
    width: 39rem; }
    @media only screen and (max-width: 40em) {
      .contactus__img {
        display: none; } }
    .contactus__img--left {
      position: absolute;
      left: 0;
      bottom: 0; }
    .contactus__img--right {
      position: absolute;
      right: 0;
      bottom: 0; }

.contactinfo {
  display: flex;
  justify-content: center;
  margin: 4rem 0; }
  @media only screen and (max-width: 20em) {
    .contactinfo {
      margin: 2rem 0; } }
  .contactinfo__wrap {
    width: 140rem;
    text-align: center; }
  .contactinfo__h2 {
    color: var(--color-1);
    font-size: 3rem;
    margin: 4rem 0; }
    @media only screen and (max-width: 20em) {
      .contactinfo__h2 {
        margin: 2rem 0;
        font-size: 2rem; } }
  .contactinfo__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0; }
    @media only screen and (max-width: 20em) {
      .contactinfo__box {
        flex-direction: column;
        margin: 2rem 0; } }
  .contactinfo__content {
    margin: 1rem;
    width: 15rem;
    position: relative; }
    .contactinfo__content:first-child::after {
      content: "";
      position: absolute;
      border-right: 1px solid var(--color-3);
      height: 12rem;
      right: 0;
      top: 0; }
      @media only screen and (max-width: 20em) {
        .contactinfo__content:first-child::after {
          border-right: none;
          border-bottom: 1px solid var(--color-3);
          height: 0;
          width: 100%;
          top: 10rem; } }
    .contactinfo__content:last-child::after {
      content: "";
      position: absolute;
      border-left: 1px solid var(--color-3);
      height: 12rem;
      left: 0;
      top: 0; }
      @media only screen and (max-width: 20em) {
        .contactinfo__content:last-child::after {
          border-right: none;
          border-bottom: 1px solid var(--color-3);
          height: 0;
          width: 100%;
          top: -1rem; } }
  .contactinfo__img {
    height: 5rem; }
    @media only screen and (max-width: 20em) {
      .contactinfo__img {
        height: 2.5rem; } }
  .contactinfo__h3 {
    color: var(--color-1);
    font-size: 2rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 20em) {
      .contactinfo__h3 {
        font-size: 1.5rem; } }
  .contactinfo__a {
    text-decoration: none; }
  .contactinfo__p {
    color: var(--color-1); }
    .contactinfo__p:hover {
      color: var(--color-3); }
  .contactinfo__h4 {
    color: var(--color-1);
    font-size: 3rem;
    font-weight: 400;
    display: inline-block;
    width: 45rem;
    line-height: 3.5rem; }
    @media only screen and (max-width: 20em) {
      .contactinfo__h4 {
        font-size: 2rem;
        width: 30rem; } }

.form {
  display: flex;
  justify-content: center;
  margin: 4rem 0; }
  .form__wrap {
    width: 140rem;
    text-align: center; }
  .form__box {
    background: var(--color-1);
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 90rem;
    height: 40rem;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.288); }
    @media only screen and (max-width: 40em) {
      .form__box {
        flex-direction: column;
        width: 70rem;
        height: 90rem;
        justify-content: inherit; } }
    @media only screen and (max-width: 26.57em) {
      .form__box {
        width: 55rem;
        height: 70rem; } }
    @media only screen and (max-width: 20em) {
      .form__box {
        width: 40rem;
        height: 70rem; } }
  .form__leftbox {
    width: 40%;
    position: relative; }
    @media only screen and (max-width: 40em) {
      .form__leftbox {
        width: 100%; } }
    .form__leftbox::after {
      content: "";
      position: absolute;
      border: 1px solid var(--color-2);
      right: 0;
      top: 10%;
      height: 90%; }
      @media only screen and (max-width: 40em) {
        .form__leftbox::after {
          height: 0;
          width: 90%;
          top: 90%;
          right: 5%; } }
  .form__rightbox {
    width: 60%;
    position: relative; }
    @media only screen and (max-width: 40em) {
      .form__rightbox {
        width: 100%; } }
  .form__h2 {
    color: var(--color-4);
    font-size: 3rem;
    text-align: left;
    margin: 3rem;
    position: relative; }
    @media only screen and (max-width: 40em) {
      .form__h2 {
        margin: 5rem; } }
    .form__h2::after {
      content: "";
      position: absolute;
      border: 3px solid var(--color-2);
      bottom: 0;
      left: 0;
      width: 10rem; }
      @media only screen and (max-width: 26.57em) {
        .form__h2::after {
          border: 1px solid var(--color-2); } }
  .form__inputbox {
    display: flex;
    flex-direction: column;
    margin: 5rem 3rem; }
    @media only screen and (max-width: 40em) {
      .form__inputbox {
        margin: 5rem; } }
    @media only screen and (max-width: 26.57em) {
      .form__inputbox {
        margin: 0;
        margin-left: 5rem;
        margin-bottom: 4rem; } }
  .form__messagebox {
    display: flex;
    flex-direction: column; }
  .form__input {
    width: 25rem;
    background: var(--color-1);
    border: none;
    outline: none;
    border-bottom: 3px solid var(--color-4);
    color: var(--color-4);
    padding: 0.8rem;
    transition: all 0.3s; }
    @media only screen and (max-width: 40em) {
      .form__input {
        width: 40rem; } }
    @media only screen and (max-width: 26.57em) {
      .form__input {
        width: 25rem;
        border-bottom: 1px solid var(--color-4);
        font-size: 1.5rem; } }
    .form__input::placeholder {
      color: var(--color-4); }
      @media only screen and (max-width: 26.57em) {
        .form__input::placeholder {
          font-size: 1.5rem; } }
    .form__input:focus:invalid {
      border-bottom: 3px solid red; }
      @media only screen and (max-width: 26.57em) {
        .form__input:focus:invalid {
          border-bottom: 1px solid red; } }
    .form__input:placeholder-shown + .form__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem); }
  .form__label {
    width: fit-content;
    color: var(--color-4);
    margin: 1rem 0.8rem;
    transition: all 0.3s; }
  .form__message {
    color: var(--color-4);
    font-size: 2rem;
    text-align: left;
    margin: 2rem 3rem; }
    @media only screen and (max-width: 26.57em) {
      .form__message {
        margin: 0 3rem; } }
  .form__textarea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 70%;
    background: var(--color-1);
    border: none;
    outline: none;
    color: var(--color-4); }
    @media only screen and (max-width: 40em) {
      .form__textarea {
        height: 30rem;
        margin-top: 20rem; } }
    @media only screen and (max-width: 26.57em) {
      .form__textarea {
        margin-top: 14rem;
        height: 23rem; } }
    .form__textarea::placeholder {
      color: var(--color-3);
      font-family: inherit; }
  .form__button {
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    background: var(--color-2);
    color: var(--color-4);
    border: none;
    outline: none;
    transition: all 0.5s; }
    @media only screen and (max-width: 40em) {
      .form__button {
        left: 0;
        bottom: -42rem; } }
    @media only screen and (max-width: 26.57em) {
      .form__button {
        bottom: -32rem; } }
    .form__button:hover {
      background: var(--color-4);
      color: var(--color-1); }
    .form__button:active {
      transform: translateY(5px); }
  .form__spaceman {
    position: absolute;
    right: 0;
    top: -12.5rem;
    width: 15rem; }
    @media only screen and (max-width: 40em) {
      .form__spaceman {
        display: none; } }

.socmed {
  display: flex;
  justify-content: center;
  margin: 4rem 0; }
  .socmed__wrap {
    width: 140rem;
    text-align: center; }
  .socmed__h2 {
    color: var(--color-1);
    font-size: 3rem;
    margin: 3rem; }
  .socmed__link {
    text-decoration: none; }
  .socmed__icon {
    font-size: 6rem;
    margin: 2rem;
    color: var(--color-1);
    transition: all 0.3s; }
    .socmed__icon:hover {
      color: var(--color-2); }

.navigation {
  display: none; }
  @media only screen and (max-width: 48em) {
    .navigation {
      display: block; } }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: var(--color-4);
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 3.5rem;
    right: 3.5rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer; }
  .navigation__background {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    position: fixed;
    top: 3.6rem;
    right: 3.6rem;
    background-image: radial-gradient(var(--color-1), var(--color-4));
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s;
    background: transparent; }
  .navigation__list {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: var(--color-4);
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all, 0.4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: var(--color-1);
    transform: translateX(2rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(75); }
  .navigation__checkbox:checked ~ .navigation__nav {
    visibility: visible;
    opacity: 1;
    width: 100%; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      content: "";
      top: -1rem;
      width: 3rem;
      height: 2px;
      background-color: var(--color-1);
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -1rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
